<template>
	<b-navbar toggleable="sm" type="light" variant="transparent" class = "sticky-top">
			<b-navbar-brand  href="#" class="ml-3 mr-2"><img alt="Vue logo" src="../assets/logo.png" sizes="md" width="20%"></b-navbar-brand>
			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

			<b-collapse id="nav-collapse" is-nav>
				<b-navbar-nav >
					<b-nav-item href="#" class="ml-3 mr-2">ACCUEIL</b-nav-item>
					<!-- about option -->
					<b-nav-item-dropdown text="A PROPOS"  class="ml-3 mr-2">
						<b-dropdown-item href="#">EN</b-dropdown-item>
						<b-dropdown-item href="#">ES</b-dropdown-item>
						<b-dropdown-item href="#">RU</b-dropdown-item>
						<b-dropdown-item href="#">FA</b-dropdown-item>
					</b-nav-item-dropdown>
					<!-- medias option -->
					<b-nav-item-dropdown text="MEDIAS"  class="ml-3 mr-2">
						<b-dropdown-item href="#">EN</b-dropdown-item>
						<b-dropdown-item href="#">ES</b-dropdown-item>
						<b-dropdown-item href="#">RU</b-dropdown-item>
						<b-dropdown-item href="#">FA</b-dropdown-item>
					</b-nav-item-dropdown>
					<!-- minister option -->
					<b-nav-item-dropdown text="MINISTERES"  class="ml-3 mr-2">
						<b-dropdown-item href="#">EN</b-dropdown-item>
						<b-dropdown-item href="#">ES</b-dropdown-item>
						<b-dropdown-item href="#">RU</b-dropdown-item>
						<b-dropdown-item href="#">FA</b-dropdown-item>
					</b-nav-item-dropdown>
					<b-nav-item href="#" class="ml-3 mr-2">VISITEZ-NOUS</b-nav-item>
					<b-nav-item href="#" class="ml-3 mr-2">DONATION</b-nav-item>
					<b-nav-item href="#" class="ml-3 mr-2">CONTACT</b-nav-item>
					<b-nav-item-dropdown text="LANG"  class="ml-3 mr-2">
						<b-dropdown-item href="#">EN</b-dropdown-item>
						<b-dropdown-item href="#">ES</b-dropdown-item>
						<b-dropdown-item href="#">RU</b-dropdown-item>
						<b-dropdown-item href="#">FA</b-dropdown-item>
					</b-nav-item-dropdown>
				</b-navbar-nav>
			</b-collapse>
		
	</b-navbar>
</template>
<script>
export default {
  name: 'NavBar'
}
</script>
<style scoped>
	
</style>