<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <div class="overlay">
      <navbar/>
      <!-- <video class="video" playsinline="playsinline" src="./assets/video/LOGO.mp4" type="video/mp4" autoplay="autoplay" muted="muted" loop="loop" style="width:201vh;marginLeft:0"></video> -->
      <b-embed type="video" aspect="4by3" class="m-0" controls="0" >
        <source src="./assets/video/LOGO.mp4?autoplay=1" type="video/mp4" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      </b-embed>
    </div>
    
    <home msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import navbar from './components/NavBar.vue'
import home from './components/Home.vue'

export default {
  name: 'App',
  components: {
    home,
    navbar
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}
/*.overlay video {
  position: absolute;
  top: 490%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}*/

</style>
+++
